<h1>Alpha PAC UE - DataGrab</h1>

<table>
  <td><button (click)="login()" *ngIf="!isLoggedIn()">Sign In</button></td>
  <td><button (click)="logout()" *ngIf="isLoggedIn()">Sign Out</button></td>
</table>
<table>
  <tr>
<!--     <td>
      <a href="https://pet-app2.azurewebsites.net/" target="_blank">[UE]</a>
    </td>
    <td>
      <a href="#">[App 2]</a>
    </td>
    <td>
      <a href="#">[App 3]</a>
    </td> -->
  </tr>
</table>

<div *ngIf="isLoggedIn()">
  <h3>Welcome back, {{getName()}} !</h3>
</div>

<div *ngIf="isLoggedIn()">
  <h3>You are logged in</h3>
</div>

<div *ngIf="!isLoggedIn()">
  <h3>You are not logged in</h3>
</div>

<table>
  <!-- <tr>
    <td><button (click)="getProfile()" *ngIf="isLoggedIn()">Get Profile</button></td>
  </tr> -->

  <!-- <tr>
    <td><button (click)="getMail()" *ngIf="isLoggedIn()">Get Mail</button></td>
  </tr>

  <tr>
    <td><button (click)="getActiveAccount()" *ngIf="isLoggedIn()">Get Current Account</button></td>
  </tr>

  <tr>
    <td><button (click)="getWeather()" *ngIf="isLoggedIn()">Get Weather</button></td>
  </tr> -->

  <tr>
    <h3 *ngIf="isLoggedIn()">Full Name: {{getName()}}</h3>
  </tr>
  <tr>
    <h3 *ngIf="isLoggedIn()">Email: {{getMail()}}</h3>
  </tr>
  <tr>
    <h3 *ngIf="isLoggedIn()">Tenant: {{getTenantId()}}</h3>
  </tr>
</table>
<router-outlet></router-outlet>
